.DS_Store
.vs
Backend/docker
Backend/docs
Backend/build
Backend/src/GSoft.AbpZeroTemplate.Application.Shared/bin/Debug
Backend/src/GSoft.AbpZeroTemplate.Application.Shared/obj
Backend/src/GSoft.AbpZeroTemplate.Application/bin